h1 {
    color: goldenrod;
    text-align: center;
    font-size: 65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

body {
    background-color: #005703;
    background-image: url("images/beige-paper.png");
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;


}

#message-el {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: center;

}


#start-button {
    width: 300px;
    padding: 3px;
    font-size: 1em;
    font-weight: bold;
    background-color: goldenrod;
    border: 4px ridge gold;

    border-radius: 5px;
    color: #005703;

}

#create-button {
    margin: 8px;
    width: 300px;
    padding: 3px;
    font-size: 1em;
    font-weight: bold;
    background-color: goldenrod;
    border: 4px ridge gold;

    border-radius: 5px;
    color: #005703;

}

#start-button:active {
    background-color: darkgreen;
    border: 4px ridge goldenrod;
    color: goldenrod;


}

#section {
    text-align: center;
    border: 5px solid goldenrod;


}

#apple-shelf {
    margin: 5px;
    background-color: indianred;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    margin-bottom: 200px;
}

#orange-shelf {
    margin: 5px;
    background-color: orange;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    margin-bottom: 200px;
}